In [1]:
# Import dataset

In [2]:
import pandas as pd
import openpyxl
bikes = pd.read_csv('london_merged.csv')

In [3]:
# Inspect structure of dataframe

In [4]:
bikes.info()
print (bikes.shape)
bikes.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB
(17414, 10)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [5]:
# Count unique values in the weather_code column

In [6]:
print (bikes.weather_code.value_counts())

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [7]:
# Count unique value in he season column

In [8]:
print(bikes.season.value_counts())

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [9]:
# Rename columns and verify

In [10]:
bikes.rename(columns = {
    'timestamp': 'time',
    'cnt': 'count',
    't1': 'temp_real_C',
    't2': 'temp_feels_like_C',
    'hum': 'humidity_percent',
    'wind_speed': 'wind_speed_kph',
    'weather_code': 'weather'}, inplace = True)

print(bikes.columns)

Index(['time', 'count', 'temp_real_C', 'temp_feels_like_C', 'humidity_percent',
       'wind_speed_kph', 'weather', 'is_holiday', 'is_weekend', 'season'],
      dtype='object')

In [11]:
#Change humidity values to percentage and verify

In [12]:
bikes.humidity_percent = bikes.humidity_percent / 100
print (bikes['humidity_percent'])

0        0.930
1        0.930
2        0.965
3        1.000
4        0.930
         ...
17409    0.810
17410    0.810
17411    0.785
17412    0.760
17413    0.760
Name: humidity_percent, Length: 17414, dtype: float64

In [13]:
#Creating a season dictionay, mapping, and verifying integers replaced with written values.

In [14]:
season_dict = {
    '0.0': 'spring',
    '1.0': 'summer',
    '2.0': 'autumm',
    '3.0': 'winter'}
bikes.season = bikes.season.astype('str')
bikes.season = bikes.season.map(season_dict)
print(bikes['season'])

0        winter
1        winter
2        winter
3        winter
4        winter
          ...
17409    winter
17410    winter
17411    winter
17412    winter
17413    winter
Name: season, Length: 17414, dtype: object

In [15]:
#Creating a weather dictionay, mapping, and verifying integers replaced with written values.

In [16]:
weather_dict = {
    '1.0': 'Clear',
    '2.0': 'Scatter clouds',
    '3.0': 'Broken clouds',
    '4.0': 'Cloudy',
    '7.0': 'Rain',
    '10.0': 'Rain with thunderstorm',
    '26.0': 'Snowfall'}
bikes.weather = bikes.weather.astype('str')
bikes.weather = bikes.weather.map(weather_dict)
print(bikes['weather'])

0         Broken clouds
1                 Clear
2                 Clear
3                 Clear
4                 Clear
              ...
17409     Broken clouds
17410            Cloudy
17411            Cloudy
17412            Cloudy
17413    Scatter clouds
Name: weather, Length: 17414, dtype: object

In [17]:
# Inspect final dataframe

In [18]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [19]:
# Write final dataframe to exile file for Tableau visualizations named 'london_bikes_final'

In [20]:
bikes.to_excel('london_bikes_final.xlsx', sheet_name = 'Data')